eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
    hostname: localhost

server:
  port: 0

stats:
  baseUrl: http://stats-server
  connect-timeout: 500ms
  read-timeout: 1s
  hit-max-attempts: 3
  hit-backoff-millis: 100
  hit-backoff-cap-millis: 1000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/main-service
    username: main-service_user
    password: main-server_password
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    time-zone: UTC

management:
  endpoints:
    web:
      exposure:
        include: health,info